[color~="Red:100"] {
  background-color: #ffcdd2;
  color: #000;
}
[color~="Red"] {
  background-color: #f44336;
  color: #fff;
}
[color~="Red:900"] {
  background-color: #b71c1c;
  color: #fff;
}
[color~="Pink:100"] {
  background-color: #f8bbd0;
  color: #000;
}
[color~="Pink"] {
  background-color: #e91e63;
  color: #fff;
}
[color~="Pink:900"] {
  background-color: #880e4f;
  color: #fff;
}
[color~="Purple:100"] {
  background-color: #e1bee7;
  color: #000;
}
[color~="Purple"] {
  background-color: #9c27b0;
  color: #fff;
}
[color~="Purple:900"] {
  background-color: #4a148c;
  color: #fff;
}
[color~="DeepPurple:100"] {
  background-color: #d1c4e9;
  color: #000;
}
[color~="DeepPurple"] {
  background-color: #673ab7;
  color: #fff;
}
[color~="DeepPurple:900"] {
  background-color: #311b92;
  color: #fff;
}
[color~="Indigo:100"] {
  background-color: #c5cae9;
  color: #000;
}
[color~="Indigo"] {
  background-color: #3f51b5;
  color: #fff;
}
[color~="Indigo:900"] {
  background-color: #1a237e;
  color: #fff;
}
[color~="Blue:100"] {
  background-color: #bbdefb;
  color: #000;
}
[color~="Blue"] {
  background-color: #2196f3;
  color: #fff;
}
[color~="Blue:900"] {
  background-color: #0d47a1;
  color: #fff;
}
[color~="LightBlue:100"] {
  background-color: #b3e5fc;
  color: #000;
}
[color~="LightBlue"] {
  background-color: #03a9f4;
  color: #000;
}
[color~="LightBlue:900"] {
  background-color: #01579b;
  color: #fff;
}
[color~="Cyan:100"] {
  background-color: #b2ebf2;
  color: #000;
}
[color~="Cyan"] {
  background-color: #00bcd4;
  color: #000;
}
[color~="Cyan:900"] {
  background-color: #006064;
  color: #fff;
}
[color~="Teal:100"] {
  background-color: #b2dfdb;
  color: #000;
}
[color~="Teal"] {
  background-color: #009688;
  color: #fff;
}
[color~="Teal:900"] {
  background-color: #004d40;
  color: #fff;
}
[color~="Green:100"] {
  background-color: #c8e6c9;
  color: #000;
}
[color~="Green"] {
  background-color: #4caf50;
  color: #000;
}
[color~="Green:900"] {
  background-color: #1b5e20;
  color: #fff;
}
[color~="LightGreen:100"] {
  background-color: #dcedc8;
  color: #000;
}
[color~="LightGreen"] {
  background-color: #8bc34a;
  color: #000;
}
[color~="LightGreen:900"] {
  background-color: #33691e;
  color: #fff;
}
[color~="Lime:100"] {
  background-color: #f0f4c3;
  color: #000;
}
[color~="Lime"] {
  background-color: #cddc39;
  color: #000;
}
[color~="Lime:900"] {
  background-color: #827717;
  color: #fff;
}
[color~="Yellow:100"] {
  background-color: #fff9c4;
  color: #000;
}
[color~="Yellow"] {
  background-color: #ffeb3b;
  color: #000;
}
[color~="Yellow:900"] {
  background-color: #f57f17;
  color: #000;
}
[color~="Amber:100"] {
  background-color: #ffecb3;
  color: #000;
}
[color~="Amber"] {
  background-color: #ffc107;
  color: #000;
}
[color~="Amber:900"] {
  background-color: #ff6f00;
  color: #000;
}
[color~="Orange:100"] {
  background-color: #ffe0b2;
  color: #000;
}
[color~="Orange"] {
  background-color: #ff9800;
  color: #000;
}
[color~="Orange:900"] {
  background-color: #e65100;
  color: #fff;
}
[color~="DeepOrange:100"] {
  background-color: #ffccbc;
  color: #000;
}
[color~="DeepOrange"] {
  background-color: #ff5722;
  color: #fff;
}
[color~="DeepOrange:900"] {
  background-color: #bf360c;
  color: #fff;
}
[color~="Brown:100"] {
  background-color: #d7ccc8;
  color: #000;
}
[color~="Brown"] {
  background-color: #795548;
  color: #fff;
}
[color~="Brown:900"] {
  background-color: #3e2723;
  color: #fff;
}
[color~="Grey:100"] {
  background-color: #f5f5f5;
  color: #000;
}
[color~="Grey"] {
  background-color: #9e9e9e;
  color: #000;
}
[color~="Grey:900"] {
  background-color: #212121;
  color: #fff;
}
[color~="BlueGrey:100"] {
  background-color: #cfd8dc;
  color: #000;
}
[color~="BlueGrey"] {
  background-color: #607d8b;
  color: #fff;
}
[color~="BlueGrey:900"] {
  background-color: #263238;
  color: #fff;
}
[color~="Black"] {
  background-color: #000;
  color: #fff;
}
[color~="White"] {
  background-color: #fff;
  color: #000;
}
[color~="txt:Red:100"] {
  color: #ffcdd2;
}
[color~="txt:Red"] {
  color: #f44336;
}
[color~="txt:Red:900"] {
  color: #b71c1c;
}
[color~="txt:Pink:100"] {
  color: #f8bbd0;
}
[color~="txt:Pink"] {
  color: #e91e63;
}
[color~="txt:Pink:900"] {
  color: #880e4f;
}
[color~="txt:Purple:100"] {
  color: #e1bee7;
}
[color~="txt:Purple"] {
  color: #9c27b0;
}
[color~="txt:Purple:900"] {
  color: #4a148c;
}
[color~="txt:DeepPurple:100"] {
  color: #d1c4e9;
}
[color~="txt:DeepPurple"] {
  color: #673ab7;
}
[color~="txt:DeepPurple:900"] {
  color: #311b92;
}
[color~="txt:Indigo:100"] {
  color: #c5cae9;
}
[color~="txt:Indigo"] {
  color: #3f51b5;
}
[color~="txt:Indigo:900"] {
  color: #1a237e;
}
[color~="txt:Blue:100"] {
  color: #bbdefb;
}
[color~="txt:Blue"] {
  color: #2196f3;
}
[color~="txt:Blue:900"] {
  color: #0d47a1;
}
[color~="txt:LightBlue:100"] {
  color: #b3e5fc;
}
[color~="txt:LightBlue"] {
  color: #03a9f4;
}
[color~="txt:LightBlue:900"] {
  color: #01579b;
}
[color~="txt:Cyan:100"] {
  color: #b2ebf2;
}
[color~="txt:Cyan"] {
  color: #00bcd4;
}
[color~="txt:Cyan:900"] {
  color: #006064;
}
[color~="txt:Teal:100"] {
  color: #b2dfdb;
}
[color~="txt:Teal"] {
  color: #009688;
}
[color~="txt:Teal:900"] {
  color: #004d40;
}
[color~="txt:Green:100"] {
  color: #c8e6c9;
}
[color~="txt:Green"] {
  color: #4caf50;
}
[color~="txt:Green:900"] {
  color: #1b5e20;
}
[color~="txt:LightGreen:100"] {
  color: #dcedc8;
}
[color~="txt:LightGreen"] {
  color: #8bc34a;
}
[color~="txt:LightGreen:900"] {
  color: #33691e;
}
[color~="txt:Lime:100"] {
  color: #f0f4c3;
}
[color~="txt:Lime"] {
  color: #cddc39;
}
[color~="txt:Lime:900"] {
  color: #827717;
}
[color~="txt:Yellow:100"] {
  color: #fff9c4;
}
[color~="txt:Yellow"] {
  color: #ffeb3b;
}
[color~="txt:Yellow:900"] {
  color: #f57f17;
}
[color~="txt:Amber:100"] {
  color: #ffecb3;
}
[color~="txt:Amber"] {
  color: #ffc107;
}
[color~="txt:Amber:900"] {
  color: #ff6f00;
}
[color~="txt:Orange:100"] {
  color: #ffe0b2;
}
[color~="txt:Orange"] {
  color: #ff9800;
}
[color~="txt:Orange:900"] {
  color: #e65100;
}
[color~="txt:DeepOrange:100"] {
  color: #ffccbc;
}
[color~="txt:DeepOrange"] {
  color: #ff5722;
}
[color~="txt:DeepOrange:900"] {
  color: #bf360c;
}
[color~="txt:Brown:100"] {
  color: #d7ccc8;
}
[color~="txt:Brown"] {
  color: #795548;
}
[color~="txt:Brown:900"] {
  color: #3e2723;
}
[color~="txt:Grey:100"] {
  color: #f5f5f5;
}
[color~="txt:Grey"] {
  color: #9e9e9e;
}
[color~="txt:Grey:900"] {
  color: #212121;
}
[color~="txt:BlueGrey:100"] {
  color: #cfd8dc;
}
[color~="txt:BlueGrey"] {
  color: #607d8b;
}
[color~="txt:BlueGrey:900"] {
  color: #263238;
}
[color~="txt:Black"] {
  color: #000;
}
[color~="txt:White"] {
  color: #fff;
}
[color~="action:Red:100"]:hover,
[color~="action:Red:100"]:focus {
  background-color: #ffcdd2;
  color: #000;
}
[color~="action:Red"]:hover,
[color~="action:Red"]:focus {
  background-color: #f44336;
  color: #fff;
}
[color~="action:Red:900"]:hover,
[color~="action:Red:900"]:focus {
  background-color: #b71c1c;
  color: #fff;
}
[color~="action:Pink:100"]:hover,
[color~="action:Pink:100"]:focus {
  background-color: #f8bbd0;
  color: #000;
}
[color~="action:Pink"]:hover,
[color~="action:Pink"]:focus {
  background-color: #e91e63;
  color: #fff;
}
[color~="action:Pink:900"]:hover,
[color~="action:Pink:900"]:focus {
  background-color: #880e4f;
  color: #fff;
}
[color~="action:Purple:100"]:hover,
[color~="action:Purple:100"]:focus {
  background-color: #e1bee7;
  color: #000;
}
[color~="action:Purple"]:hover,
[color~="action:Purple"]:focus {
  background-color: #9c27b0;
  color: #fff;
}
[color~="action:Purple:900"]:hover,
[color~="action:Purple:900"]:focus {
  background-color: #4a148c;
  color: #fff;
}
[color~="action:DeepPurple:100"]:hover,
[color~="action:DeepPurple:100"]:focus {
  background-color: #d1c4e9;
  color: #000;
}
[color~="action:DeepPurple"]:hover,
[color~="action:DeepPurple"]:focus {
  background-color: #673ab7;
  color: #fff;
}
[color~="action:DeepPurple:900"]:hover,
[color~="action:DeepPurple:900"]:focus {
  background-color: #311b92;
  color: #fff;
}
[color~="action:Indigo:100"]:hover,
[color~="action:Indigo:100"]:focus {
  background-color: #c5cae9;
  color: #000;
}
[color~="action:Indigo"]:hover,
[color~="action:Indigo"]:focus {
  background-color: #3f51b5;
  color: #fff;
}
[color~="action:Indigo:900"]:hover,
[color~="action:Indigo:900"]:focus {
  background-color: #1a237e;
  color: #fff;
}
[color~="action:Blue:100"]:hover,
[color~="action:Blue:100"]:focus {
  background-color: #bbdefb;
  color: #000;
}
[color~="action:Blue"]:hover,
[color~="action:Blue"]:focus {
  background-color: #2196f3;
  color: #fff;
}
[color~="action:Blue:900"]:hover,
[color~="action:Blue:900"]:focus {
  background-color: #0d47a1;
  color: #fff;
}
[color~="action:LightBlue:100"]:hover,
[color~="action:LightBlue:100"]:focus {
  background-color: #b3e5fc;
  color: #000;
}
[color~="action:LightBlue"]:hover,
[color~="action:LightBlue"]:focus {
  background-color: #03a9f4;
  color: #000;
}
[color~="action:LightBlue:900"]:hover,
[color~="action:LightBlue:900"]:focus {
  background-color: #01579b;
  color: #fff;
}
[color~="action:Cyan:100"]:hover,
[color~="action:Cyan:100"]:focus {
  background-color: #b2ebf2;
  color: #000;
}
[color~="action:Cyan"]:hover,
[color~="action:Cyan"]:focus {
  background-color: #00bcd4;
  color: #000;
}
[color~="action:Cyan:900"]:hover,
[color~="action:Cyan:900"]:focus {
  background-color: #006064;
  color: #fff;
}
[color~="action:Teal:100"]:hover,
[color~="action:Teal:100"]:focus {
  background-color: #b2dfdb;
  color: #000;
}
[color~="action:Teal"]:hover,
[color~="action:Teal"]:focus {
  background-color: #009688;
  color: #fff;
}
[color~="action:Teal:900"]:hover,
[color~="action:Teal:900"]:focus {
  background-color: #004d40;
  color: #fff;
}
[color~="action:Green:100"]:hover,
[color~="action:Green:100"]:focus {
  background-color: #c8e6c9;
  color: #000;
}
[color~="action:Green"]:hover,
[color~="action:Green"]:focus {
  background-color: #4caf50;
  color: #000;
}
[color~="action:Green:900"]:hover,
[color~="action:Green:900"]:focus {
  background-color: #1b5e20;
  color: #fff;
}
[color~="action:LightGreen:100"]:hover,
[color~="action:LightGreen:100"]:focus {
  background-color: #dcedc8;
  color: #000;
}
[color~="action:LightGreen"]:hover,
[color~="action:LightGreen"]:focus {
  background-color: #8bc34a;
  color: #000;
}
[color~="action:LightGreen:900"]:hover,
[color~="action:LightGreen:900"]:focus {
  background-color: #33691e;
  color: #fff;
}
[color~="action:Lime:100"]:hover,
[color~="action:Lime:100"]:focus {
  background-color: #f0f4c3;
  color: #000;
}
[color~="action:Lime"]:hover,
[color~="action:Lime"]:focus {
  background-color: #cddc39;
  color: #000;
}
[color~="action:Lime:900"]:hover,
[color~="action:Lime:900"]:focus {
  background-color: #827717;
  color: #fff;
}
[color~="action:Yellow:100"]:hover,
[color~="action:Yellow:100"]:focus {
  background-color: #fff9c4;
  color: #000;
}
[color~="action:Yellow"]:hover,
[color~="action:Yellow"]:focus {
  background-color: #ffeb3b;
  color: #000;
}
[color~="action:Yellow:900"]:hover,
[color~="action:Yellow:900"]:focus {
  background-color: #f57f17;
  color: #000;
}
[color~="action:Amber:100"]:hover,
[color~="action:Amber:100"]:focus {
  background-color: #ffecb3;
  color: #000;
}
[color~="action:Amber"]:hover,
[color~="action:Amber"]:focus {
  background-color: #ffc107;
  color: #000;
}
[color~="action:Amber:900"]:hover,
[color~="action:Amber:900"]:focus {
  background-color: #ff6f00;
  color: #000;
}
[color~="action:Orange:100"]:hover,
[color~="action:Orange:100"]:focus {
  background-color: #ffe0b2;
  color: #000;
}
[color~="action:Orange"]:hover,
[color~="action:Orange"]:focus {
  background-color: #ff9800;
  color: #000;
}
[color~="action:Orange:900"]:hover,
[color~="action:Orange:900"]:focus {
  background-color: #e65100;
  color: #fff;
}
[color~="action:DeepOrange:100"]:hover,
[color~="action:DeepOrange:100"]:focus {
  background-color: #ffccbc;
  color: #000;
}
[color~="action:DeepOrange"]:hover,
[color~="action:DeepOrange"]:focus {
  background-color: #ff5722;
  color: #fff;
}
[color~="action:DeepOrange:900"]:hover,
[color~="action:DeepOrange:900"]:focus {
  background-color: #bf360c;
  color: #fff;
}
[color~="action:Brown:100"]:hover,
[color~="action:Brown:100"]:focus {
  background-color: #d7ccc8;
  color: #000;
}
[color~="action:Brown"]:hover,
[color~="action:Brown"]:focus {
  background-color: #795548;
  color: #fff;
}
[color~="action:Brown:900"]:hover,
[color~="action:Brown:900"]:focus {
  background-color: #3e2723;
  color: #fff;
}
[color~="action:Grey:100"]:hover,
[color~="action:Grey:100"]:focus {
  background-color: #f5f5f5;
  color: #000;
}
[color~="action:Grey"]:hover,
[color~="action:Grey"]:focus {
  background-color: #9e9e9e;
  color: #000;
}
[color~="action:Grey:900"]:hover,
[color~="action:Grey:900"]:focus {
  background-color: #212121;
  color: #fff;
}
[color~="action:BlueGrey:100"]:hover,
[color~="action:BlueGrey:100"]:focus {
  background-color: #cfd8dc;
  color: #000;
}
[color~="action:BlueGrey"]:hover,
[color~="action:BlueGrey"]:focus {
  background-color: #607d8b;
  color: #fff;
}
[color~="action:BlueGrey:900"]:hover,
[color~="action:BlueGrey:900"]:focus {
  background-color: #263238;
  color: #fff;
}
[color~="action:Black"]:hover,
[color~="action:Black"]:focus {
  background-color: #000;
  color: #fff;
}
[color~="action:White"]:hover,
[color~="action:White"]:focus {
  background-color: #fff;
  color: #000;
}
[color~="action:txt:Red:100"]:hover,
[color~="action:txt:Red:100"]:focus {
  color: #ffcdd2;
}
[color~="action:txt:Red"]:hover,
[color~="action:txt:Red"]:focus {
  color: #f44336;
}
[color~="action:txt:Red:900"]:hover,
[color~="action:txt:Red:900"]:focus {
  color: #b71c1c;
}
[color~="action:txt:Pink:100"]:hover,
[color~="action:txt:Pink:100"]:focus {
  color: #f8bbd0;
}
[color~="action:txt:Pink"]:hover,
[color~="action:txt:Pink"]:focus {
  color: #e91e63;
}
[color~="action:txt:Pink:900"]:hover,
[color~="action:txt:Pink:900"]:focus {
  color: #880e4f;
}
[color~="action:txt:Purple:100"]:hover,
[color~="action:txt:Purple:100"]:focus {
  color: #e1bee7;
}
[color~="action:txt:Purple"]:hover,
[color~="action:txt:Purple"]:focus {
  color: #9c27b0;
}
[color~="action:txt:Purple:900"]:hover,
[color~="action:txt:Purple:900"]:focus {
  color: #4a148c;
}
[color~="action:txt:DeepPurple:100"]:hover,
[color~="action:txt:DeepPurple:100"]:focus {
  color: #d1c4e9;
}
[color~="action:txt:DeepPurple"]:hover,
[color~="action:txt:DeepPurple"]:focus {
  color: #673ab7;
}
[color~="action:txt:DeepPurple:900"]:hover,
[color~="action:txt:DeepPurple:900"]:focus {
  color: #311b92;
}
[color~="action:txt:Indigo:100"]:hover,
[color~="action:txt:Indigo:100"]:focus {
  color: #c5cae9;
}
[color~="action:txt:Indigo"]:hover,
[color~="action:txt:Indigo"]:focus {
  color: #3f51b5;
}
[color~="action:txt:Indigo:900"]:hover,
[color~="action:txt:Indigo:900"]:focus {
  color: #1a237e;
}
[color~="action:txt:Blue:100"]:hover,
[color~="action:txt:Blue:100"]:focus {
  color: #bbdefb;
}
[color~="action:txt:Blue"]:hover,
[color~="action:txt:Blue"]:focus {
  color: #2196f3;
}
[color~="action:txt:Blue:900"]:hover,
[color~="action:txt:Blue:900"]:focus {
  color: #0d47a1;
}
[color~="action:txt:LightBlue:100"]:hover,
[color~="action:txt:LightBlue:100"]:focus {
  color: #b3e5fc;
}
[color~="action:txt:LightBlue"]:hover,
[color~="action:txt:LightBlue"]:focus {
  color: #03a9f4;
}
[color~="action:txt:LightBlue:900"]:hover,
[color~="action:txt:LightBlue:900"]:focus {
  color: #01579b;
}
[color~="action:txt:Cyan:100"]:hover,
[color~="action:txt:Cyan:100"]:focus {
  color: #b2ebf2;
}
[color~="action:txt:Cyan"]:hover,
[color~="action:txt:Cyan"]:focus {
  color: #00bcd4;
}
[color~="action:txt:Cyan:900"]:hover,
[color~="action:txt:Cyan:900"]:focus {
  color: #006064;
}
[color~="action:txt:Teal:100"]:hover,
[color~="action:txt:Teal:100"]:focus {
  color: #b2dfdb;
}
[color~="action:txt:Teal"]:hover,
[color~="action:txt:Teal"]:focus {
  color: #009688;
}
[color~="action:txt:Teal:900"]:hover,
[color~="action:txt:Teal:900"]:focus {
  color: #004d40;
}
[color~="action:txt:Green:100"]:hover,
[color~="action:txt:Green:100"]:focus {
  color: #c8e6c9;
}
[color~="action:txt:Green"]:hover,
[color~="action:txt:Green"]:focus {
  color: #4caf50;
}
[color~="action:txt:Green:900"]:hover,
[color~="action:txt:Green:900"]:focus {
  color: #1b5e20;
}
[color~="action:txt:LightGreen:100"]:hover,
[color~="action:txt:LightGreen:100"]:focus {
  color: #dcedc8;
}
[color~="action:txt:LightGreen"]:hover,
[color~="action:txt:LightGreen"]:focus {
  color: #8bc34a;
}
[color~="action:txt:LightGreen:900"]:hover,
[color~="action:txt:LightGreen:900"]:focus {
  color: #33691e;
}
[color~="action:txt:Lime:100"]:hover,
[color~="action:txt:Lime:100"]:focus {
  color: #f0f4c3;
}
[color~="action:txt:Lime"]:hover,
[color~="action:txt:Lime"]:focus {
  color: #cddc39;
}
[color~="action:txt:Lime:900"]:hover,
[color~="action:txt:Lime:900"]:focus {
  color: #827717;
}
[color~="action:txt:Yellow:100"]:hover,
[color~="action:txt:Yellow:100"]:focus {
  color: #fff9c4;
}
[color~="action:txt:Yellow"]:hover,
[color~="action:txt:Yellow"]:focus {
  color: #ffeb3b;
}
[color~="action:txt:Yellow:900"]:hover,
[color~="action:txt:Yellow:900"]:focus {
  color: #f57f17;
}
[color~="action:txt:Amber:100"]:hover,
[color~="action:txt:Amber:100"]:focus {
  color: #ffecb3;
}
[color~="action:txt:Amber"]:hover,
[color~="action:txt:Amber"]:focus {
  color: #ffc107;
}
[color~="action:txt:Amber:900"]:hover,
[color~="action:txt:Amber:900"]:focus {
  color: #ff6f00;
}
[color~="action:txt:Orange:100"]:hover,
[color~="action:txt:Orange:100"]:focus {
  color: #ffe0b2;
}
[color~="action:txt:Orange"]:hover,
[color~="action:txt:Orange"]:focus {
  color: #ff9800;
}
[color~="action:txt:Orange:900"]:hover,
[color~="action:txt:Orange:900"]:focus {
  color: #e65100;
}
[color~="action:txt:DeepOrange:100"]:hover,
[color~="action:txt:DeepOrange:100"]:focus {
  color: #ffccbc;
}
[color~="action:txt:DeepOrange"]:hover,
[color~="action:txt:DeepOrange"]:focus {
  color: #ff5722;
}
[color~="action:txt:DeepOrange:900"]:hover,
[color~="action:txt:DeepOrange:900"]:focus {
  color: #bf360c;
}
[color~="action:txt:Brown:100"]:hover,
[color~="action:txt:Brown:100"]:focus {
  color: #d7ccc8;
}
[color~="action:txt:Brown"]:hover,
[color~="action:txt:Brown"]:focus {
  color: #795548;
}
[color~="action:txt:Brown:900"]:hover,
[color~="action:txt:Brown:900"]:focus {
  color: #3e2723;
}
[color~="action:txt:Grey:100"]:hover,
[color~="action:txt:Grey:100"]:focus {
  color: #f5f5f5;
}
[color~="action:txt:Grey"]:hover,
[color~="action:txt:Grey"]:focus {
  color: #9e9e9e;
}
[color~="action:txt:Grey:900"]:hover,
[color~="action:txt:Grey:900"]:focus {
  color: #212121;
}
[color~="action:txt:BlueGrey:100"]:hover,
[color~="action:txt:BlueGrey:100"]:focus {
  color: #cfd8dc;
}
[color~="action:txt:BlueGrey"]:hover,
[color~="action:txt:BlueGrey"]:focus {
  color: #607d8b;
}
[color~="action:txt:BlueGrey:900"]:hover,
[color~="action:txt:BlueGrey:900"]:focus {
  color: #263238;
}
[color~="action:txt:Black"]:hover,
[color~="action:txt:Black"]:focus {
  color: #000;
}
[color~="action:txt:White"]:hover,
[color~="action:txt:White"]:focus {
  color: #fff;
}
