@import palette

for bc in 'txt:''bg:''action:txt:''action:bg:'
	color(colors,accent=null)
		sep = accent?':':null
		[color~=\"{bc}{colors}{sep}{accent}\"]
			if bc is 'txt:'
				color palette(colors,accent?accent:'500')[0]
			if bc is 'action:txt:'
				&:hover,&:focus
					color palette(colors,accent?accent:'500')[0]
			if bc is 'bg:'
				background-color palette(colors,accent?accent:'500')[0]
				color palette(colors,accent?accent:'500')[1]
			if bc is 'action:bg:'
				&:hover,&:focus
					background-color palette(colors,accent?accent:'500')[0]
					color palette(colors,accent?accent:'500')[1]

	for colors in Red Pink Purple DeepPurple Indigo Blue LightBlue Cyan Teal Green LightGreen Lime Yellow Amber Orange DeepOrange Brown Grey BlueGrey
		for accent in null'50''100''200''300''400''500''600''700''800''900''A100''A200''A400''A700'
			if palette(colors,accent?accent:'500') {color(colors,accent)}
			
	color(Black)
	color(White)