@import palette
for bc, i in 'bg:''txt:''action:bg:''action:txt:'
	for color, c in keys($palette)
		for accent in keys(values($palette)[c])
			[color~=\"{bc}{color}{accent}\"]
				action=(i>1)?'&:hover,&:focus':'&,&'
				{action}
					if(i%2==0){background-color palette(color,accent)[0]}
					color palette(color,accent)[i%2?0:1]