[color~="Red"] {
  background-color: #f44336;
  color: #fff;
}
[color~="Pink"] {
  background-color: #e91e63;
  color: #fff;
}
[color~="Purple"] {
  background-color: #9c27b0;
  color: #fff;
}
[color~="DeepPurple"] {
  background-color: #673ab7;
  color: #fff;
}
[color~="Indigo"] {
  background-color: #3f51b5;
  color: #fff;
}
[color~="Blue"] {
  background-color: #2196f3;
  color: #fff;
}
[color~="LightBlue"] {
  background-color: #03a9f4;
  color: #000;
}
[color~="Cyan"] {
  background-color: #00bcd4;
  color: #000;
}
[color~="Teal"] {
  background-color: #009688;
  color: #fff;
}
[color~="Green"] {
  background-color: #4caf50;
  color: #000;
}
[color~="LightGreen"] {
  background-color: #8bc34a;
  color: #000;
}
[color~="Lime"] {
  background-color: #cddc39;
  color: #000;
}
[color~="Yellow"] {
  background-color: #ffeb3b;
  color: #000;
}
[color~="Amber"] {
  background-color: #ffc107;
  color: #000;
}
[color~="Orange"] {
  background-color: #ff9800;
  color: #000;
}
[color~="DeepOrange"] {
  background-color: #ff5722;
  color: #fff;
}
[color~="Brown"] {
  background-color: #795548;
  color: #fff;
}
[color~="Grey"] {
  background-color: #9e9e9e;
  color: #000;
}
[color~="BlueGrey"] {
  background-color: #607d8b;
  color: #fff;
}
[color~="Black"] {
  background-color: #000;
  color: #fff;
}
[color~="White"] {
  background-color: #fff;
  color: #000;
}
[color~="txt:Red"] {
  color: #f44336;
}
[color~="txt:Pink"] {
  color: #e91e63;
}
[color~="txt:Purple"] {
  color: #9c27b0;
}
[color~="txt:DeepPurple"] {
  color: #673ab7;
}
[color~="txt:Indigo"] {
  color: #3f51b5;
}
[color~="txt:Blue"] {
  color: #2196f3;
}
[color~="txt:LightBlue"] {
  color: #03a9f4;
}
[color~="txt:Cyan"] {
  color: #00bcd4;
}
[color~="txt:Teal"] {
  color: #009688;
}
[color~="txt:Green"] {
  color: #4caf50;
}
[color~="txt:LightGreen"] {
  color: #8bc34a;
}
[color~="txt:Lime"] {
  color: #cddc39;
}
[color~="txt:Yellow"] {
  color: #ffeb3b;
}
[color~="txt:Amber"] {
  color: #ffc107;
}
[color~="txt:Orange"] {
  color: #ff9800;
}
[color~="txt:DeepOrange"] {
  color: #ff5722;
}
[color~="txt:Brown"] {
  color: #795548;
}
[color~="txt:Grey"] {
  color: #9e9e9e;
}
[color~="txt:BlueGrey"] {
  color: #607d8b;
}
[color~="txt:Black"] {
  color: #000;
}
[color~="txt:White"] {
  color: #fff;
}
[color~="action:Red"]:hover,
[color~="action:Red"]:focus {
  background-color: #f44336;
  color: #fff;
}
[color~="action:Pink"]:hover,
[color~="action:Pink"]:focus {
  background-color: #e91e63;
  color: #fff;
}
[color~="action:Purple"]:hover,
[color~="action:Purple"]:focus {
  background-color: #9c27b0;
  color: #fff;
}
[color~="action:DeepPurple"]:hover,
[color~="action:DeepPurple"]:focus {
  background-color: #673ab7;
  color: #fff;
}
[color~="action:Indigo"]:hover,
[color~="action:Indigo"]:focus {
  background-color: #3f51b5;
  color: #fff;
}
[color~="action:Blue"]:hover,
[color~="action:Blue"]:focus {
  background-color: #2196f3;
  color: #fff;
}
[color~="action:LightBlue"]:hover,
[color~="action:LightBlue"]:focus {
  background-color: #03a9f4;
  color: #000;
}
[color~="action:Cyan"]:hover,
[color~="action:Cyan"]:focus {
  background-color: #00bcd4;
  color: #000;
}
[color~="action:Teal"]:hover,
[color~="action:Teal"]:focus {
  background-color: #009688;
  color: #fff;
}
[color~="action:Green"]:hover,
[color~="action:Green"]:focus {
  background-color: #4caf50;
  color: #000;
}
[color~="action:LightGreen"]:hover,
[color~="action:LightGreen"]:focus {
  background-color: #8bc34a;
  color: #000;
}
[color~="action:Lime"]:hover,
[color~="action:Lime"]:focus {
  background-color: #cddc39;
  color: #000;
}
[color~="action:Yellow"]:hover,
[color~="action:Yellow"]:focus {
  background-color: #ffeb3b;
  color: #000;
}
[color~="action:Amber"]:hover,
[color~="action:Amber"]:focus {
  background-color: #ffc107;
  color: #000;
}
[color~="action:Orange"]:hover,
[color~="action:Orange"]:focus {
  background-color: #ff9800;
  color: #000;
}
[color~="action:DeepOrange"]:hover,
[color~="action:DeepOrange"]:focus {
  background-color: #ff5722;
  color: #fff;
}
[color~="action:Brown"]:hover,
[color~="action:Brown"]:focus {
  background-color: #795548;
  color: #fff;
}
[color~="action:Grey"]:hover,
[color~="action:Grey"]:focus {
  background-color: #9e9e9e;
  color: #000;
}
[color~="action:BlueGrey"]:hover,
[color~="action:BlueGrey"]:focus {
  background-color: #607d8b;
  color: #fff;
}
[color~="action:Black"]:hover,
[color~="action:Black"]:focus {
  background-color: #000;
  color: #fff;
}
[color~="action:White"]:hover,
[color~="action:White"]:focus {
  background-color: #fff;
  color: #000;
}
[color~="action:txt:Red"]:hover,
[color~="action:txt:Red"]:focus {
  color: #f44336;
}
[color~="action:txt:Pink"]:hover,
[color~="action:txt:Pink"]:focus {
  color: #e91e63;
}
[color~="action:txt:Purple"]:hover,
[color~="action:txt:Purple"]:focus {
  color: #9c27b0;
}
[color~="action:txt:DeepPurple"]:hover,
[color~="action:txt:DeepPurple"]:focus {
  color: #673ab7;
}
[color~="action:txt:Indigo"]:hover,
[color~="action:txt:Indigo"]:focus {
  color: #3f51b5;
}
[color~="action:txt:Blue"]:hover,
[color~="action:txt:Blue"]:focus {
  color: #2196f3;
}
[color~="action:txt:LightBlue"]:hover,
[color~="action:txt:LightBlue"]:focus {
  color: #03a9f4;
}
[color~="action:txt:Cyan"]:hover,
[color~="action:txt:Cyan"]:focus {
  color: #00bcd4;
}
[color~="action:txt:Teal"]:hover,
[color~="action:txt:Teal"]:focus {
  color: #009688;
}
[color~="action:txt:Green"]:hover,
[color~="action:txt:Green"]:focus {
  color: #4caf50;
}
[color~="action:txt:LightGreen"]:hover,
[color~="action:txt:LightGreen"]:focus {
  color: #8bc34a;
}
[color~="action:txt:Lime"]:hover,
[color~="action:txt:Lime"]:focus {
  color: #cddc39;
}
[color~="action:txt:Yellow"]:hover,
[color~="action:txt:Yellow"]:focus {
  color: #ffeb3b;
}
[color~="action:txt:Amber"]:hover,
[color~="action:txt:Amber"]:focus {
  color: #ffc107;
}
[color~="action:txt:Orange"]:hover,
[color~="action:txt:Orange"]:focus {
  color: #ff9800;
}
[color~="action:txt:DeepOrange"]:hover,
[color~="action:txt:DeepOrange"]:focus {
  color: #ff5722;
}
[color~="action:txt:Brown"]:hover,
[color~="action:txt:Brown"]:focus {
  color: #795548;
}
[color~="action:txt:Grey"]:hover,
[color~="action:txt:Grey"]:focus {
  color: #9e9e9e;
}
[color~="action:txt:BlueGrey"]:hover,
[color~="action:txt:BlueGrey"]:focus {
  color: #607d8b;
}
[color~="action:txt:Black"]:hover,
[color~="action:txt:Black"]:focus {
  color: #000;
}
[color~="action:txt:White"]:hover,
[color~="action:txt:White"]:focus {
  color: #fff;
}
