body {
  font-family: Roboto, sans-serif;
}
[StickyFooter] {
  display: flex;
  flex-direction: column;
}
[StickyFooter],
html {
  height: 100%;
  margin: 0;
}
[StickyFooter]>header,
[StickyFooter]>footer {
  flex: none;
  line-height: 3em;
  padding: 0 1em;
  text-align: center;
}
[StickyFooter] main {
  flex: 1;
}
[buttons] {
  display: inline-flex;
}
[buttons]>*:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
[buttons]>*:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
[buttons~="full"] {
  display: flex;
}
[buttons~="full"]>a,
[buttons~="full"]>button {
  justify-content: center;
  flex: 1 1 auto;
}
label input {
  background-color: transparent;
  border: 0;
}
a,
button,
[label],
[label]>input[type="submit"] {
  font: 1em/2em Roboto;
  display: inline-flex;
  align-items: center;
  padding: 0 0.5em;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
}
a:before,
button:before,
[label]:before,
[label]>input[type="submit"]:before {
  content: attr(before);
  padding-right: 0.25em;
}
a:after,
button:after,
[label]:after,
[label]>input[type="submit"]:after {
  content: attr(after);
  padding-left: 0.25em;
}
a:before,
button:before,
[label]:before,
[label]>input[type="submit"]:before,
a:after,
button:after,
[label]:after,
[label]>input[type="submit"]:after {
  font-family: 'Material Icons';
  font-size: 1.3em;
  text-transform: lowercase;
}
form {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.3em;
  overflow: hidden;
}
form [label] {
  display: flex;
  flex: 5;
}
form [label]:last-child {
  flex: 1;
}
form [label] input {
  font: 1em/3em Roboto;
  height: 3em;
  flex: 1;
  background-color: inherit;
  color: inherit;
  font: inherit;
  flex: 1;
}
form [label] input[type="submit"][value=""]:before {
  padding-right: 0;
}
form [label] input[type="submit"][value=""]:after {
  padding-left: 0;
}
form [label][before]:before {
  padding-left: 0.5em;
}
form [label][after]:after {
  padding-right: 0.5em;
}
form [label]:not([before]:before) {
  padding-left: 0;
}
form [label]:not([after]:after) {
  padding-right: 0;
}
[card~="radius"] {
  border-radius: 0.3em;
  overflow: hidden;
}
[card] {
  background: #fff;
  box-sizing: border-box;
  box-shadow: #b0bec5 0 0.75px 2px;
  display: flex;
  flex-direction: column;
  margin: 1em;
}
[card] header {
  color: #fff;
  display: flex;
  padding: 0.5em;
  text-shadow: 0 0 2px #000;
  z-index: 1;
}
[card] header img {
  border: 0.1em dashed #fff;
  border-radius: 50%;
  margin-right: 1em;
  height: 3em;
  width: 3em;
}
[card] header div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1em;
  margin: 0.3em 0;
}
[card] header+img {
  margin-top: -4.2em;
  transition: all 0.5s ease;
  z-index: 1;
}
[card] header+img+h3 {
  z-index: 1;
}
[card] header+img:hover {
  filter: blur(3px);
  z-index: 0;
}
[card] header+img:hover+h3 {
  display: none;
}
[card] header:hover+img {
  margin-top: -4.2em;
  transition: all 0.5s ease;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
[card] header:hover+img+h3 {
  z-index: 1;
}
[card] header:hover+img {
  filter: blur(3px);
  z-index: 0;
}
[card] header:hover+img+h3 {
  display: none;
}
[card] header+img+h3:hover {
  display: none;
}
[card] img {
  object-fit: cover;
}
[card] img+h3 {
  color: #fff;
  text-shadow: 0 0 2px #000;
  margin-top: -1.5em;
}
[card] h3 {
  line-height: 1em;
  margin: 0.5em;
  text-align: center;
}
[card] figcaption {
  margin: 0;
  padding: 1em;
}
[buttons] {
  display: flex;
}
[buttons] button::-moz-focus-inner {
  border: 0;
}
[buttons] a,
[buttons] button {
  transition: all 0.5s ease;
  justify-content: center;
  flex: 1 1 auto;
  font: 1em/3em Roboto;
  outline: none;
  border: none;
  background-color: trasparent;
}
[buttons] a:active,
[buttons] button:active {
  font: 1em/3em Roboto;
  border-radius: 0.2em;
  transform: scale(0.85);
}
[buttons] a:hover,
[buttons] button:hover,
[buttons] a:focus,
[buttons] button:focus {
  outline: none;
}
[buttons~="3D"] a,
[buttons~="3D"] button,
[buttons~="3D"] input {
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
}
[buttons~="3D"] a:hover,
[buttons~="3D"] button:hover,
[buttons~="3D"] input:hover,
[buttons~="3D"] a:focus,
[buttons~="3D"] button:focus,
[buttons~="3D"] input:focus,
[buttons~="3D"] a:active,
[buttons~="3D"] button:active,
[buttons~="3D"] input:active {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(255,255,255,0.1));
}
[buttons~="border"] input[type="submit "] {
  border: 0;
  padding: 0;
  border-radius: 0;
}
[buttons~="border"] input[type="submit "][before],
[buttons~="border"] input[type="submit "][after] {
  padding-left: 0;
  padding-right: 0;
}
[buttons~="border"] a,
[buttons~="border"] button,
[buttons~="border"] input {
  box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), inset 0 -1px 0 0 rgba(0,0,0,0.1), 0 1px 0 0 rgba(255,255,255,0.1);
}
input[type="text"]:invalid {
  box-shadow: none;
}
input[type="text"]:invalid~input[type="submit"] {
  opacity: 0.5;
}
