[font~="Material+Icons"]{font-family: 'Material Icons', sans-serif;}
[font~="Acme"]{font-family: 'Acme', cursive;}
[font~="Advent+Pro"]{font-family: 'Advent Pro', sans-serif;}
[font~="Akronim"]{font-family: 'Akronim', cursive;}
[font~="Aladin"]{font-family: 'Aladin', cursive;}
[font~="Amaranth"]{font-family: 'Amaranth', sans-serif;}
[font~="Amarante"]{font-family: 'Amarante', sans-serif;}
[font~="Annie+Use+Your+Telescope"]{font-family: 'Annie Use Your Telescope', cursive;}
[font~="Architects+Daughter"]{font-family: 'Architects Daughter', cursive;}
[font~="Aref+Ruqaa"]{font-family: 'Aref Ruqaa', serif;}
[font~="Arvo"]{font-family: 'Arvo', serif;}
[font~="Asap"]{font-family: 'Asap', sans-serif;}
[font~="Averia+Libre"]{font-family: 'Averia Libre', cursive;}
[font~="Bad+Script"]{font-family: 'Bad Script', cursive;}
[font~="Baloo"]{font-family: 'Baloo', cursive;}
[font~="Bangers"]{font-family: 'Bangers', cursive;}
[font~="Belgrano"]{font-family: 'Belgrano', serif;}
[font~="Bellefair"]{font-family: 'Bellefair', serif;}
[font~="Bellefair"]{font-family: 'Bellefair', serif;}
[font~="Bungee+Inline"]{font-family: 'Bungee Inline', cursive;}
[font~="Butcherman"]{font-family: 'Butcherman', cursive;}
[font~="Cabin"]{font-family: 'Cabin', sans-serif;}
[font~="Cabin+Condensed"]{font-family: 'Cabin Condensed', sans-serif;}
[font~="Cabin+Sketch"]{font-family: 'Cabin Sketch', sans-serif;}
[font~="Cantora+One"]{font-family: 'Cantora One', sans-serif;}
[font~="Capriola"]{font-family: 'Capriola', sans-serif;}
[font~="Caveat"]{font-family: 'Caveat', cursive;}
[font~="Chewy"]{font-family: 'Chewy', cursive;}
[font~="Chicle"]{font-family: 'Chicle', cursive;}
[font~="Chivo"]{font-family: 'Chivo', sans-serif;}
[font~="Cinzel+Decorative"]{font-family: 'Cinzel Decorative', cursive;}
[font~="Codystar"]{font-family: 'Codystar', cursive;}
[font~="Comfortaa"]{font-family: 'Comfortaa', cursive;}
[font~="Coming+Soon"]{font-family: 'Coming Soon', cursive;}
[font~="Cookie"]{font-family: 'Cookie', cursive;}
[font~="Cormorant+Infant"]{font-family: 'Cormorant Infant', serif;}
[font~="Courgette"]{font-family: 'Courgette', cursive;}
[font~="Covered+By+Your+Grace"]{font-family: 'Covered By Your Grace', cursive;}
[font~="Creepster"]{font-family: 'Creepster', cursive;}
[font~="Damion"]{font-family: 'Damion', cursive;}
[font~="Delius+Swash+Caps"]{font-family: 'Delius Swash Caps', cursive;}
[font~="Denk+One"]{font-family: 'Denk One', sans-serif;}
[font~="Didact+Gothic"]{font-family: 'Didact Gothic', sans-serif;}
[font~="Diplomata+SC"]{font-family: 'Diplomata SC', cursive;}
[font~="Dosis"]{font-family: 'Dosis', sans-serif;}
[font~="Eagle+Lake"]{font-family: 'Eagle Lake', cursive;}
[font~="Eater"]{font-family: 'Eater', cursive;}
[font~="El+Messiri"]{font-family: 'El Messiri', sans-serif;}
[font~="Electrolize"]{font-family: 'Electrolize', sans-serif;}
[font~="Emblema+One"]{font-family: 'Emblema One', cursive;}
[font~="Emilys+Candy"]{font-family: 'Emilys Candy', cursive;}
[font~="Englebert"]{font-family: 'Englebert', sans-serif;}
[font~="Ewert"]{font-family: 'Ewert', cursive;}
[font~="Exo"]{font-family: 'Exo', sans-serif;}
[font~="Exo+2"]{font-family: 'Exo 2', sans-serif;}
[font~="Expletus+Sans"]{font-family: 'Expletus Sans', cursive;}
[font~="Faster+One"]{font-family: 'Faster One', cursive;}
[font~="Finger+Paint"]{font-family: 'Finger Paint', cursive;}
[font~="Fondamento"]{font-family: 'Fondamento', cursive;}
[font~="Fredericka+the+Great"]{font-family: 'Fredericka the Great', cursive;}
[font~="Fresca"]{font-family: 'Fresca', sans-serif;}
[font~="Frijole"]{font-family: 'Frijole', cursive;}
[font~="Fruktur"]{font-family: 'Fruktur', cursive;}
[font~="Fugaz+One"]{font-family: 'Fugaz One', cursive;}
[font~="Galada"]{font-family: 'Galada', cursive;}
[font~="Gentium+Basic"]{font-family: 'Gentium Basic', serif;}
[font~="Gentium+Book+Basic"]{font-family: 'Gentium Book Basic', serif;}
[font~="Germania+One"]{font-family: 'Germania One', cursive;}
[font~="Give+You+Glory"]{font-family: 'Give You Glory', cursive;}
[font~="Gloria+Hallelujah"]{font-family: 'Gloria Hallelujah', cursive;}
[font~="Gochi+Hand"]{font-family: 'Gochi Hand', cursive;}
[font~="Handlee"]{font-family: 'Handlee', cursive;}
[font~="Happy+Monkey"]{font-family: 'Happy Monkey', cursive;}
[font~="Iceberg"]{font-family: 'Iceberg', cursive;}
[font~="Iceland"]{font-family: 'Iceland', cursive;}
[font~="IM+Fell+DW+Pica"]{font-family: 'IM Fell DW Pica', serif;}
[font~="IM+Fell+French+Canon+SC"]{font-family: 'IM Fell French Canon SC', serif;}
[font~="Imprima"]{font-family: 'Imprima', sans-serif;}
[font~="Indie+Flower"]{font-family: 'Indie Flower', cursive;}
[font~="Irish+Grover"]{font-family: 'Irish Grover', cursive;}
[font~="Itim"]{font-family: 'Itim', cursive;}
[font~="Jacques+Francois+Shadow"]{font-family: 'Jacques Francois Shadow', cursive;}
[font~="Kalam"]{font-family: 'Kalam', cursive;}
[font~="Josefin+Sans"]{font-family: 'Josefin Sans', sans-serif;}
[font~="Josefin+Slab"]{font-family: 'Josefin Slab', serif;}
[font~="Julee"]{font-family: 'Julee', cursive;}
[font~="Kaushan+Script"]{font-family: 'Kaushan Script', cursive;}
[font~="Kavoon"]{font-family: 'Kavoon', cursive;}
[font~="Kite+One"]{font-family: 'Kite One', sans-serif;}
[font~="Kurale"]{font-family: 'Kurale', serif;}
[font~="Lakki+Reddy"]{font-family: 'Lakki Reddy', cursive;}
[font~="Lancelot"]{font-family: 'Lancelot', cursive;}
[font~="Lato"]{font-family: 'Lato', sans-serif;}
[font~="Lemonada"]{font-family: 'Lemonada', cursive;}
[font~="Libre+Baskerville"]{font-family: 'Libre Baskerville', serif;}
[font~="Lobster"]{font-family: 'Lobster', cursive;}
[font~="Londrina+Outline"]{font-family: 'Londrina Outline', cursive;}
[font~="Londrina+Shadow"]{font-family: 'Londrina Shadow', cursive;}
[font~="Londrina+Sketch"]{font-family: 'Londrina Sketch', cursive;}
[font~="Love+Ya+Like+A+Sister"]{font-family: 'Love Ya Like A Sister', cursive;}
[font~="Luckiest+Guy"]{font-family: 'Luckiest Guy', cursive;}
[font~="Macondo"]{font-family: 'Macondo', cursive;}
[font~="Maiden+Orange"]{font-family: 'Maiden Orange', cursive;}
[font~="Mandali"]{font-family: 'Mandali', sans-serif;}
[font~="Mallanna"]{font-family: 'Mallanna', sans-serif;}
[font~="Marck+Script"]{font-family: 'Marck Script', cursive;}
[font~="McLaren"]{font-family: 'McLaren', cursive;}
[font~="MedievalSharp"]{font-family: 'MedievalSharp', cursive;}
[font~="Merienda"]{font-family: 'Merienda', cursive;}
[font~="Merienda+One"]{font-family: 'Merienda One', serif;}
[font~="Merriweather"]{font-family: 'Merriweather', serif;}
[font~="Merriweather+Sans"]{font-family: 'Merriweather Sans', sans-serif;}
[font~="Milonga"]{font-family: 'Milonga', cursive;}
[font~="Modak"]{font-family: 'Modak', cursive;}
[font~="Modern+Antiqua"]{font-family: 'Modern Antiqua', cursive;}
[font~="Mogra"]{font-family: 'Mogra', cursive;}
[font~="Monoton"]{font-family: 'Monoton', cursive;}
[font~="Monserrat"]{font-family: 'Monserrat', serif;}
[font~="Mystery+Quest"]{font-family: 'Mystery Quest', serif;}
[font~="Neucha"]{font-family: 'Neucha', cursive;}
[font~="Nobile"]{font-family: 'Nobile', sans-serif;}
[font~="Nosifer"]{font-family: 'Nosifer', cursive;}
[font~="Nothing+You+Could+Do"]{font-family: 'Nothing You Could Do', cursive;}
[font~="Noticia+Text"]{font-family: 'Noticia Text', serif;}
[font~="Noto+Sans"]{font-family: 'Noto Sans', sans-serif;}
[font~="Noto+Serif"]{font-family: 'Noto Serif', serif;}
[font~="Nova+Round"]{font-family: 'Nova Round', cursive;}
[font~="Nova+Square"]{font-family: 'Nova Square', cursive;}
[font~="NTR"]{font-family: 'NTR', sans-serif;}
[font~="Nunito"]{font-family: 'Nunito', sans-serif;}
[font~="Nunito+Sans"]{font-family: 'Nunito Sans', sans-serif;}
[font~="Oldenburg"]{font-family: 'Oldenburg', cursive;}
[font~="Oleo+Script"]{font-family: 'Oleo Script', cursive;}
[font~="Open+Sans"]{font-family: 'Open+sans', sans-serif;}
[font~="Open+Sans+Condensed"]{font-family: 'Open Sans Condensed', sans-serif;}
[font~="Orbitron"]{font-family: 'Orbitron', sans-serif;}
[font~="Original+Surfer"]{font-family: 'Original Surfer', cursive;}
[font~="Oswald"]{font-family: 'Oswald', sans-serif;}
[font~="Overlock"]{font-family: 'Overlock', cursive;}
[font~="Pacifico"]{font-family: 'Pacifico', cursive;}
[font~="Paprika"]{font-family: 'Paprika', cursive;}
[font~="Patrick+Hand+SC"]{font-family: 'Patrick Hand SC', cursive;}
[font~="Patua+One"]{font-family: 'Patua One', sans-serif;}
[font~="Peralta"]{font-family: 'Peralta', cursive;}
[font~="Permanent+Marker"]{font-family: 'Permanent Marker', cursive;}
[font~="Piedra"]{font-family: 'Piedra', cursive;}
[font~="Pirata+One"]{font-family: 'Pirata One', cursive;}
[font~="Play"]{font-family: 'Play', sans-serif;}
[font~="Playfair+Display"]{font-family: 'Playfair Display', serif;}
[font~="Playfair+Display+SC"]{font-family: 'Playfair Display SC', serif;}
[font~="Poiret+One"]{font-family: 'Poiret One', cursive;}
[font~="Questrial"]{font-family: 'Questrial', sans-serif;}
[font~="Prociono"]{font-family: 'Prociono', serif;}
[font~="Quicksand"]{font-family: 'Quicksand', sans-serif;}
[font~="Rajdhani"]{font-family: 'Rajdhani', sans-serif;}
[font~="Raleway"]{font-family: 'Raleway', sans-serif;}
[font~="Raleway+Dots"]{font-family: 'Raleway Dots', sans-serif;}
[font~="Rancho"]{font-family: 'Rancho', sans-serif;}
[font~="Reenie+Beanie"]{font-family: 'Reenie Beanie', cursive;}
[font~="Revalia"]{font-family: 'Revalia', cursive;}
[font~="Ribeye"]{font-family: 'Ribeye', cursive;}
[font~="Righteous"]{font-family: 'Righteous', cursive;}
[font~="Roboto"]{font-family: 'Roboto', sans-serif;}
[font~="Roboto+Condensed"]{font-family: 'Roboto Condensed', sans-serif;}
[font~="Roboto+Slab"]{font-family: 'Roboto Slab', serif;}
[font~="Roboto+Mono"]{font-family: 'Roboto Mono', monospace;}
[font~="Rubik"]{font-family: 'Rubik', sans-serif;}
[font~="Rye"]{font-family: 'Rye', cursive;}
[font~="Sacramento"]{font-family: 'Sacramento', cursive;}
[font~="Salsa"]{font-family: 'Salsa', cursive;}
[font~="Sancreek"]{font-family: 'Sancreek', cursive;}
[font~="Sansita"]{font-family: 'Sansita', sans-serif;}
[font~="Satisfy"]{font-family: 'Satisfy', cursive;}
[font~="Shadows+Into+Light+Two"]{font-family: 'Shadows Into Light Two', cursive;}
[font~="Shrikhand"]{font-family: 'Shrikhand', cursive;}
[font~="Signika"]{font-family: 'Signika', sans-serif;}
[font~="Signika+Negative"]{font-family: 'Signika Negative', sans-serif;}
[font~="Simonetta"]{font-family: 'Simonetta', cursive;}
[font~="Skranji"]{font-family: 'Skranji', cursive;}
[font~="Smokum"]{font-family: 'Smokum', cursive;}
[font~="Sniglet"]{font-family: 'Sniglet', cursive;}
[font~="Snippet"]{font-family: 'Snippet', sans-serif;}
[font~="Sofadi+One"]{font-family: 'Sofadi One', cursive;}
[font~="Special+Elite"]{font-family: 'Special Elite', cursive;}
[font~="Spectral"]{font-family: 'Spectral', serif;}
[font~="Spicy+Rice"]{font-family: 'Spicy Rice', cursive;}
[font~="Sriracha"]{font-family: 'Sriracha', cursive;}
[font~="Stardos+Stencil"]{font-family: 'Stardos Stencil', cursive;}
[font~="Sunshiney"]{font-family: 'Sunshiney', cursive;}
[font~="Suranna"]{font-family: 'Suranna', serif;}
[font~="Tangerine"]{font-family: 'Tangerine', cursive;}
[font~="Titillium"]{font-family: 'Titillium', sans-serif;}
[font~="Titillium+Web"]{font-family: 'Titillium Web', sans-serif;}
[font~="The+Girl+Next+Door"]{font-family: 'The Girl Next Door', sans-cursive;}
[font~="Trade+Winds"]{font-family: 'Trade Winds', cursive;}
[font~="Ubuntu"]{font-family: 'Ubuntu', sans-serif;}
[font~="Ubuntu+Condensed"]{font-family: 'Ubuntu Condensed', sans-serif;}
[font~="Ubuntu+Mono"]{font-family: 'Ubuntu Mono', monospace;}
[font~="UnifrakturCook"]{font-family: 'UnifrakturCook', cursive;}
[font~="UnifrakturMaguntia"]{font-family: 'UnifrakturMaguntia', cursive;}
[font~="Varela"]{font-family: 'Varela', sans-serif;}
[font~="Varela+Round"]{font-family: 'Varela Round', sans-serif;}
[font~="Vast+Shadow"]{font-family: 'Vast Shadow', cursive;}
[font~="Vollkorn"]{font-family: 'Vollkorn', serif;}
[font~="Walter+Turncoat"]{font-family: 'Walter Turncoat', cursive;}
[font~="Yatra+One"]{font-family: 'Yatra One', cursive;}