[grid]
	display grid
	grid-template-columns 1fr
	margin 0 auto
[grid]>*
	padding .5em

for disp in disp = 360':'360,640':'640,800':'784,1280':'1264,1366':'1350,1920':'1904
	@media (min-width (disp[0])px)
		[grid^=\"{disp[0]}\"]
			max-width disp[2]px
		for c in col = 1..7
			[grid~="gutters"][grid~=\"{disp[0]}:{c}\"]>*:not(:nth-child({c}n+1))
				margin-left .5em
			[grid~="gutters"][grid~=\"{disp[0]}:{c}\"]>*:not(:nth-child(-n+{c}))
				margin-top .5em
			[grid~=\"{disp[0]}{disp[1]}{c}\"]
				grid-template-columns repeat(c,1fr)
		for s in s = 1 null 1 0, null 1 0 1, 1 1 1 1
			for c in col = 2..5
				[grid~="gutters"][grid~=\"{disp[0]}:{s[0]}{c}{s[1]}\"]>*:not(:nth-child({s[2]+1+s[3]}n+1))
					margin-left .5em
				[grid~="gutters"][grid~=\"{disp[0]}:{s[0]}{c}{s[1]}\"]>*:not(:nth-child(-n+{s[2]+1+s[3]}))
					margin-top .5em
				[grid~=\"{disp[0]}{disp[1]}{s[0]}{c}{s[1]}\"]
					grid-template-columns (s[0]?unit(s[0],fr):null) unit(c,fr) (s[1]?unit(s[1],fr):null)

[flex]
	display flex
	flex-basis 100%
	margin 0 auto