$palette = {
  'Red': {
    '50': #FFEBEE black,
    '100': #FFCDD2 black,
    '200': #EF9A9A black,
    '300': #E57373 black,
    '400': #EF5350 white,
    '500': #F44336 white,
    '600': #E53935 white,
    '700': #D32F2F white,
    '800': #C62828 white,
    '900': #B71C1C white,
    'A100': #FF8A80 black,
    'A200': #FF5252 white,
    'A400': #FF1744 white,
    'A700': #D50000 white,
  },
  'Pink': {
    '50': #FCE4EC black,
    '100': #F8BBD0 black,
    '200': #F48FB1 black,
    '300': #F06292 white,
    '400': #EC407A white,
    '500': #E91E63 white,
    '600': #D81B60 white,
    '700': #C2185B white,
    '800': #AD1457 white,
    '900': #880E4F white,
    'A100': #FF80AB black,
    'A200': #FF4081 white,
    'A400': #F50057 white,
    'A700': #C51162 white,
  },
  'Purple': {
    '50': #F3E5F5 black,
    '100': #E1BEE7 black,
    '200': #CE93D8 black,
    '300': #BA68C8 white,
    '400': #AB47BC white,
    '500': #9C27B0 white,
    '600': #8E24AA white,
    '700': #7B1FA2 white,
    '800': #6A1B9A white,
    '900': #4A148C white,
    'A100': #EA80FC black,
    'A200': #E040FB white,
    'A400': #D500F9 white,
    'A700': #AA00FF white,
  },
  'DeepPurple': {
    '50': #EDE7F6 black,
    '100': #D1C4E9 black,
    '200': #B39DDB black,
    '300': #9575CD white,
    '400': #7E57C2 white,
    '500': #673AB7 white,
    '600': #5E35B1 white,
    '700': #512DA8 white,
    '800': #4527A0 white,
    '900': #311B92 white,
    'A100': #B388FF black,
    'A200': #7C4DFF white,
    'A400': #651FFF white,
    'A700': #6200EA white,
  },
  'Indigo': {
    '50': #E8EAF6 black,
    '100': #C5CAE9 black,
    '200': #9FA8DA black,
    '300': #7986CB white,
    '400': #5C6BC0 white,
    '500': #3F51B5 white,
    '600': #3949AB white,
    '700': #303F9F white,
    '800': #283593 white,
    '900': #1A237E white,
    'A100': #8C9EFF black,
    'A200': #536DFE white,
    'A400': #3D5AFE white,
    'A700': #304FFE white,
  },
  'Blue': {
    '50': #E3F2FD black,
    '100': #BBDEFB black,
    '200': #90CAF9 black,
    '300': #64B5F6 black,
    '400': #42A5F5 black,
    '500': #2196F3 white,
    '600': #1E88E5 white,
    '700': #1976D2 white,
    '800': #1565C0 white,
    '900': #0D47A1 white,
    'A100': #82B1FF black,
    'A200': #448AFF white,
    'A400': #2979FF white,
    'A700': #2962FF white,
  },
  'LightBlue': {
    '50': #E1F5FE black,
    '100': #B3E5FC black,
    '200': #81D4FA black,
    '300': #4FC3F7 black,
    '400': #29B6F6 black,
    '500': #03A9F4 black,
    '600': #039BE5 white,
    '700': #0288D1 white,
    '800': #0277BD white,
    '900': #01579B white,
    'A100': #80D8FF black,
    'A200': #40C4FF black,
    'A400': #00B0FF black,
    'A700': #0091EA white,
  },
  'Cyan': {
    '50': #E0F7FA black,
    '100': #B2EBF2 black,
    '200': #80DEEA black,
    '300': #4DD0E1 black,
    '400': #26C6DA black,
    '500': #00BCD4 black,
    '600': #00ACC1 black,
    '700': #0097A7 white,
    '800': #00838F white,
    '900': #006064 white,
    'A100': #84FFFF black,
    'A200': #18FFFF black,
    'A400': #00E5FF black,
    'A700': #00B8D4 black,
  },
  'Teal': {
    '50': #E0F2F1 black,
    '100': #B2DFDB black,
    '200': #80CBC4 black,
    '300': #4DB6AC black,
    '400': #26A69A black,
    '500': #009688 white,
    '600': #00897B white,
    '700': #00796B white,
    '800': #00695C white,
    '900': #004D40 white,
    'A100': #A7FFEB black,
    'A200': #64FFDA black,
    'A400': #1DE9B6 black,
    'A700': #00BFA5 black,
  },
  'Green': {
    '50': #E8F5E9 black,
    '100': #C8E6C9 black,
    '200': #A5D6A7 black,
    '300': #81C784 black,
    '400': #66BB6A black,
    '500': #4CAF50 black,
    '600': #43A047 white,
    '700': #388E3C white,
    '800': #2E7D32 white,
    '900': #1B5E20 white,
    'A100': #B9F6CA black,
    'A200': #69F0AE black,
    'A400': #00E676 black,
    'A700': #00C853 black,
  },
  'LightGreen': {
    '50': #F1F8E9 black,
    '100': #DCEDC8 black,
    '200': #C5E1A5 black,
    '300': #AED581 black,
    '400': #9CCC65 black,
    '500': #8BC34A black,
    '600': #7CB342 black,
    '700': #689F38 white,
    '800': #558B2F white,
    '900': #33691E white,
    'A100': #CCFF90 black,
    'A200': #B2FF59 black,
    'A400': #76FF03 black,
    'A700': #64DD17 black,
  },
  'Lime': {
    '50': #F9FBE7 black,
    '100': #F0F4C3 black,
    '200': #E6EE9C black,
    '300': #DCE775 black,
    '400': #D4E157 black,
    '500': #CDDC39 black,
    '600': #C0CA33 black,
    '700': #AFB42B black,
    '800': #9E9D24 black,
    '900': #827717 white,
    'A100': #F4FF81 black,
    'A200': #EEFF41 black,
    'A400': #C6FF00 black,
    'A700': #AEEA00 black,
  },
  'Yellow': {
    '50': #FFFDE7 black,
    '100': #FFF9C4 black,
    '200': #FFF59D black,
    '300': #FFF176 black,
    '400': #FFEE58 black,
    '500': #FFEB3B black,
    '600': #FDD835 black,
    '700': #FBC02D black,
    '800': #F9A825 black,
    '900': #F57F17 black,
    'A100': #FFFF8D black,
    'A200': #FFFF00 black,
    'A400': #FFEA00 black,
    'A700': #FFD600 black,
  },
  'Amber': {
    '50': #FFF8E1 black,
    '100': #FFECB3 black,
    '200': #FFE082 black,
    '300': #FFD54F black,
    '400': #FFCA28 black,
    '500': #FFC107 black,
    '600': #FFB300 black,
    '700': #FFA000 black,
    '800': #FF8F00 black,
    '900': #FF6F00 black,
    'A100': #FFE57F black,
    'A200': #FFD740 black,
    'A400': #FFC400 black,
    'A700': #FFAB00 black,
  },
  'Orange': {
    '50': #FFF3E0 black,
    '100': #FFE0B2 black,
    '200': #FFCC80 black,
    '300': #FFB74D black,
    '400': #FFA726 black,
    '500': #FF9800 black,
    '600': #FB8C00 black,
    '700': #F57C00 black,
    '800': #EF6C00 white,
    '900': #E65100 white,
    'A100': #FFD180 black,
    'A200': #FFAB40 black,
    'A400': #FF9100 black,
    'A700': #FF6D00 black,
  },
  'DeepOrange': {
    '50': #FBE9E7 black,
    '100': #FFCCBC black,
    '200': #FFAB91 black,
    '300': #FF8A65 black,
    '400': #FF7043 black,
    '500': #FF5722 white,
    '600': #F4511E white,
    '700': #E64A19 white,
    '800': #D84315 white,
    '900': #BF360C white,
    'A100': #FF9E80 black,
    'A200': #FF6E40 black,
    'A400': #FF3D00 white,
    'A700': #DD2C00 white,
  },
  'Brown': {
    '50': #EFEBE9 black,
    '100': #D7CCC8 black,
    '200': #BCAAA4 black,
    '300': #A1887F white,
    '400': #8D6E63 white,
    '500': #795548 white,
    '600': #6D4C41 white,
    '700': #5D4037 white,
    '800': #4E342E white,
    '900': #3E2723 white,
  },
  'Grey': {
    '50': #FAFAFA black,
    '100': #F5F5F5 black,
    '200': #EEEEEE black,
    '300': #E0E0E0 black,
    '400': #BDBDBD black,
    '500': #9E9E9E black,
    '600': #757575 white,
    '700': #616161 white,
    '800': #424242 white,
    '900': #212121 white,
  },
  'BlueGrey': {
    '50': #ECEFF1 black,
    '100': #CFD8DC black,
    '200': #B0BEC5 black,
    '300': #90A4AE black,
    '400': #78909C white,
    '500': #607D8B white,
    '600': #546E7A white,
    '700': #455A64 white,
    '800': #37474F white,
    '900': #263238 white,
  },
  'Black': {
    '500': #000000 white,
  },
  'White': {
    '500': #ffffff black,
  },
}

palette(color, accent='500')
  return $palette[color][accent]