doctype
html(lang="es-ES")
	head
		title Framework
		meta(charset:utf-8)
		link(href="css/grid.css" rel="stylesheet")
		link(href="css/components.css" rel="stylesheet")
		link(href="css/colors.css" rel="stylesheet")
		link(href="css/Roboto.css" rel="stylesheet")
		link(href="css/MaterialIcons.css" rel="stylesheet")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	body(StickyFooter color="Grey:700")
		header(color="BlueGrey") HEADER
		main(grid="1366:justify:center")
			div(cell)
					form(input before="person" color="txt:Blue:700")
						input(type="text" required placeholder="Nombre")
						input(type="text" required placeholder="Apellidos")
						input(type="submit" value="Registrar" color="BLue Action:BLue:700")
					form(input before="person" color="Blue:700")
						input(type="text" required placeholder="Nombre")
						input(type="text" required placeholder="Apellidos")
						input(type="submit" value="Registrar" color="Blue Action:Blue:700")
		footer(color="BlueGrey") FOOTER