doctype
html(lang="es-ES")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Grid
		link(rel="stylesheet", href="css/layout.css")
		style.
			[grid]{border: 1px solid blue;}
			[grid]>*{border:1px solid red;}
	body(grid="gutters 640:2 1280:2")
		aside Aside
		main Main
		aside Aside
		aside Aside
		main Main
		aside Aside
		aside Aside
		aside Aside